/* styling the head of the table, specifically, making the borders of the table solid black */
table.table-striped.table-bordered.table-hover > thead > tr > th  {
    border:1px solid black;
}

/* styling the head of the table, specifically, making the borders of the table solid black 
(for the table on the profile page) */
table.table-striped.table-bordered.table-hover > thead > tr > td  {
    border:1px solid black;
}

/* styling the body of the table, specifically, making the borders of the table solid black */
table.table-striped.table-bordered.table-hover > tbody > tr > td {
    border:1px solid black;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
      
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}